/* Обнуление */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #FAFBFD;
}



/* обнуление закончено */
[class*="__container"] {
    max-width: 1057px;
    margin: 0 auto;
}

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;

    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 718.98px) {
    [class*="__container"] {
        max-width: none;

    }
}



.header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 50;

}

.main {
    flex: 1 1 auto;
}



/* Header */

.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;

}

.header__logo {
    position: relative;
    z-index: 5;
}

.menu__list {
    display: flex;
}

.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 5;
}




@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}


.button {
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FCFDFE;
    padding: 13px 30px;
    background-color: #EC5863;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.button_blue {
    background-color: #4285F4;
}

.button:hover {
    background-color: #f46770;
}

.button_blue:hover {
    background-color: #5e9cff;
}

.menu__link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: black;
    transition: color 0.2s;
}

.menu__link:hover {
    color: rgb(85, 83, 83);
}

.menu__item {
    margin-right: 40px;
}

@media (max-width: 991.98px) {
    .menu__item {
        margin-right: 30px;
    }

    .header__container {
        min-height: 80px;
        z-index: 50;
    }
}


/* --------------------- BURGER */
.close-icon-menu,
.icon-menu {
    display: none;
}

@media (max-width: 767.98px) {


    .close-icon-menu,
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px 0 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: '';
        background-color: #000;
        height: 2px;

    }

    .icon-menu span {
        height: 2px;
        background-color: #000;
    }

    .close-icon-menu:before,
    .close-icon-menu:after {
        position: absolute;
        left: 15px;
        top: -7px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
    }

    .close-icon-menu:before {
        transform: rotate(45deg);
    }

    .close-icon-menu:after {
        transform: rotate(-45deg);
    }

    .close-icon-menu {
        display: none;
    }

}

/* ----------------------- */




/* content ------------------------------------------------------------------------------------------- */

.get-started {
    /* background-color: #fafbfd; */
    padding-bottom: 20px;

}

.get-started__container {
    padding: 150px 0 50px 0;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.get-started__container::before {
    content: "";
    width: 100vw;
    height: 100%;
    background-color: #EC5863;
    position: absolute;
    border-radius: 30px 0px 0px 30px;
    margin: 0 252px 0 0;
    top: 0;
    right: 0;
    transform: translate(100%, 0);



}

.main {
    z-index: 1;
}

.get-started__content {
    padding-left: 20px;
    flex: 0 1 48%;
}

.get-started__image {
    flex: 0 1 52%;
    position: relative;
    padding: 0 20px 0 0;
    z-index: 2;
}

.get-started__image img {
    max-width: 100%;
}

.get-started__video {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    margin: 60px 0 0 20px;
}

.get-started__video-content {
    padding: 0 0 0 15px;
    
}

.get-started__video-title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 126%;
    letter-spacing: 0.08em;
    color: #B0B0B0;
}

.get-started__video-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 126%;
    letter-spacing: 0.165em;
    text-transform: uppercase;
    margin-top: 5px;
    color: #000000;
}


.block-text__title {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 126%;
    
    color: #000000;
}




.block-text__title-blue span {
    color: #4285F4;
}

.block-text-text {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    letter-spacing: 0.08em;
    
    color: #616161;
    padding: 0 0 27px 0;
}

/* -----------------------------------------------------------------------------stay safe */
.stay-safe {
    padding: 40px 0 0 0;
    background-color: #FFFFFF;
}

.stay-safe__container {
    display: flex;
    align-items: center;
}

.stay-safe__media {
    flex: 1 1 50%;
    padding: 0 0 0 47px;
}

.stay-safe__content {
    flex: 1 1 50%;
}

.media-stay-safe {
    width: 373px;
    position: relative;
    text-align: center;
    padding: 56px 0 27px 0;
}

.media-stay-safe__image {
    display: inline-block;
    width: 61.5%;

}

.media-stay-safe__image img {
    position: relative;
    z-index: 2;
    width: 100%;
}

.media-stay-safe__item {
    position: absolute;
    border-radius: 30px;
    background-color: #EC5863;
    width: 77px;
    height: 77px;
}

.media-stay-safe__item_1 {
    top: 0;
    left: 0;
    width: 147px;
    height: 147px;
}

.media-stay-safe__item_2 {
    bottom: 38px;
    left: 33px;
}

.media-stay-safe__item_3 {
    bottom: 150px;
    right: 34px;
}

.stay-safe__content span {
    color: #EC5863;
}

/* ------------------------------------------------------experts */
.experts {
    padding: 103px 0 115px 0;
}

.statistic-experts {
    max-width: 655px;
    margin: 0 auto;
    position: relative;
    

}

.statictic-experts__body {
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    position: relative;
    z-index: 2;
    margin: 0 0 80px 0;
}

.body-statistic-experts {
    padding: 20px 80px;
    display: flex;
    align-items: center;
}

.body-statistic-experts__item {
    flex: 1 1 auto;

}

.body-statistic-experts__value {
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 1px;
    color: #EC5863;
}

.body-statistic-experts__text {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.37em;
    text-transform: uppercase;
    color: #000000;
}

.statisic-expert__decor {
    position: absolute;
    border-radius: 30px;
    background-color: #EC5863;
}

.statisic-expert__decor_1 {
    width: 65px;
    height: 65px;
    transform: rotate(-30deg);
    bottom: -31px;
    left: -31px;
    border-radius: 16px;

}

.statisic-expert__decor_2 {
    height: 96px;
    width: 96px;
    top: -31px;
    right: 50%;
    transform: rotate(17deg);
}

.statisic-expert__decor_3 {
    width: 127px;
    height: 127px;
    top: 1px;
    right: -63px;
    transform: rotate(45deg);
}
.experts__content{
    flex: 0 1 50%;
    padding: 0 20px 0 0;
}
.experts__video{
    flex: 0 1 50%;
}
.experts__body{
    display: flex;
    align-items: center;
}
.experts__block-text{
    max-width: 400px;
}

.experts__video{
    padding: 0 0 26% 0;
    position: relative;
}
.experts__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;

}
@media (max-width: 767.98px) {
    .experts__body{
        flex-direction: column;
        align-items: stretch;
    }
    .experts__video{
        padding: 0 0 58% 0;
        margin: 20px 0 0 0;
    }
    .statictic-experts__body{
        margin: 0 0 50px 0;
    }
    .body-statistic-experts {
        padding: 10px 30px;
    }
    .experts {
        padding: 50px 0 115px 0;
    }
}

@media (max-width: 494px) {
    .body-statistic-experts{
        flex-direction: column;
    }
    .body-statistic-experts:not(:last-child()){
        margin: 0 0 15px 0;
    }
}




@media (max-width: 991.98px) {
    .header__button {
        flex: 0 0 170px;
    }

    .get-started__container::before {
        margin: 0 165px 0 0;
    }

    .stay-safe__media {
        padding: 0 0 0 20px;
    }





}

@media (max-width: 767.98px) {

    .menu__body {
        overflow: auto;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 80px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }

    .header:target .menu__body {
        left: 0;
    }

    .menu__body {
        background-color: #f5f5f5;
    }

    .header:target .menu__body:before {
        content: "";
        position: fixed;
        top: -3px;
        left: 0;
        height: 80px;
        width: 100%;
        background-color: #f5f5f5;

    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .menu__link {
        font-size: 20px;
    }

    .menu__item {
        margin: 0 0 25px 0;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    [class*="__container"] {

        margin: 0 10px;
    }

    .header:target .icon-menu {
        display: none;
    }

    .header:target .close-icon-menu {
        display: flex;
    }

    .get-started__container::before {
        display: none;
    }

    .get-started__content {
        flex: 1 1 100%;
    }

    .get-started__image {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 100%;
        padding: 30px 0;
    }

    .get-started__video {
        margin: 0px;
    }

    .block-text__title {
        font-size: 35px;
    }

    .get-started__container {
        padding: 80px 0 0 0;
    }

    .get-started__content {
        padding: 0;
    }

    .stay-safe__container {
        flex-direction: column-reverse;
    }

    .stay-safe__content {
        margin: 0 0 30px 0;
    }




}

@media (max-width: 479.98px) {
    .media-stay-safe {
        width: 290px;
    }

}