/* Обнуление */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    color: #616161;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #FAFBFD;
}



/* обнуление закончено */
[class*="__container"] {
    max-width: 1057px;
    margin: 0 auto;
}

@media (max-width: 1087px) {
    [class*="__container"] {
        max-width: 970px;

    }
}

@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

@media (max-width: 718.98px) {
    [class*="__container"] {
        max-width: none;

    }
}



.header {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 50;
}

.main {
    flex: 1 1 auto;
}



/* Header */
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;

}

.header__logo {
    position: relative;
    z-index: 5;
}

.menu__list {
    display: flex;
}

.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    z-index: 5;
}

@media (max-width: 991.98px) {
    .header__button {
        flex: 0 0 170px;

    }
}


@media (max-width: 479.98px) {
    .header__logo {
        flex: 0 0 40px;
        overflow: hidden;
    }
}


.button {
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #FCFDFE;
    padding: 13px 30px;
    background-color: #EC5863;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}

.button_blue {
    background-color: #4285F4;
}

.button:hover {
    background-color: #f46770;
}

.button_blue:hover {
    background-color: #5e9cff;
}

.menu__link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.14em;
    color: black;
    transition: color 0.2s;
}

.menu__link:hover {
    color: rgb(85, 83, 83);
}

.menu__item {
    margin-right: 40px;
}

@media (max-width: 991.98px) {
    .menu__item {
        margin-right: 30px;
    }

    .header__container {
        min-height: 80px;
    }
}


/* --------------------- BURGER */
.close-icon-menu,
.icon-menu {
    display: none;
}

@media (max-width: 767.98px) {
    .close-icon-menu,
    .icon-menu {
        display: flex;
        position: relative;
        flex: 0 0 30px;
        height: 18px;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 10px 0 20px;
    }

    .icon-menu::before,
    .icon-menu::after {
        content: '';
        background-color: #000;
        height: 2px;

    }

    .icon-menu span {
        height: 2px;
        background-color: #000;
    }
    .close-icon-menu:before, .close-icon-menu:after {
        position: absolute;
        left: 15px;
        top: -7px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #333;
        }
        .close-icon-menu:before {
        transform: rotate(45deg);
        }
        .close-icon-menu:after {
        transform: rotate(-45deg);
        }
    .close-icon-menu{
        display: none;
    }
}

/* ----------------------- */


@media (max-width: 767.98px) {
    
    .menu__body {
        
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 80px 15px 30px 15px;
        transition: left 0.3s ease 0s;
    }
    .header:target .menu__body {
        left: 0;
    }    

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .menu__link {        
        font-size: 20px;
    }

    .menu__item {
        margin: 0 0 25px 0;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    [class*="__container"] {

        margin: 0 10px;
    }
    .header:target .icon-menu{
        display: none;
    }
    .header:target .close-icon-menu{
        display: flex;
    }
    



}